Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
trace.txt
obj/
bin/
exe/
out/
packages/
_ReSharper*/
#*.exe
*.opendb
*.sdf
*.VC.db
Libs/